.main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text_appear {
        position: relative;
        width: 80%;
        height: 80vh;
        overflow: hidden;

        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            visibility: visible;
            transition:
                opacity 1s ease-in-out,
                visibility 1s ease-in-out;

            p {
                font-size: 2em;
                font-weight: bold;
                text-align: center;
                color: white;
                margin: 0;
            }
            .text {
                letter-spacing: 4px;
                padding-bottom: 20px;
            }

            .timer {
                font-size: 14px;
                letter-spacing: 12px;
            }

            .random-text-wrapper {
                position: fixed;
                transform: translate(-50%, -50%);
                font-size: 2em;
                font-weight: bold;
                color: white;
                animation: appearRandomText 2s ease-out;
            }

            .timer-animation {
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }

            .timer-visible {
                opacity: 1;
            }
        }
    }

    @keyframes appearRandomText {
        0% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(1);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
        50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
        }
        100% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(1);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
    }

    // Additional styles to disable scrolling
    body.no-scroll {
        overflow: hidden;
    }
}
