.header {
    background-color: black;
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 40px;

        h1 {
            cursor: pointer;
            letter-spacing: 5.5px;
        }
    }
}
